# Supabase pooled runtime connection for Prisma Client reads/writes at runtime.

DATABASE_URL="postgresql://postgres.jnnhrtoniczvvcoordcu:iLyes@2300@_@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase direct connection for Prisma migrations and other schema-changing commands.
DIRECT_URL="postgresql://postgres.jnnhrtoniczvvcoordcu:iLyes@2300@_@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"
